<a href="https://colab.research.google.com/github/ol3gka/STUDY/blob/main/main_tools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MAIN STRUCTURES
свойства python - динамическая типизация и полиморфизм (результат выполнения операторов зависит от типа данных, к которому их применяют); компитяция в байт код; a=3, b=a - разделяемая сылка (2 имени/переменных ссылаются на один объект '3')

**Все структуры данных в python представляют из себя объекты**

* числовые объекты (целые, дробные, комлексные) `numbers` 1,1.2

* строка `str` 'aao'

* кортеж `tuple` (1,2,3)

* множество `set` {1,2,3}

* список `list` [1,'a',2]

* словарь `dict` {1:'a',2:'e'}

**Изменяемые: список, словарь, множетсво**

**Неизменяемы: числа, строки, кортеж**

из-за того, что объекты неизменяемые, любая операция над объектом должна быть перепресвоенна, при это ссылка на объект будет уже ссылаться на другой, новый instance, который создался функцией: 

`a = 'aaa'`

`a = a.replace('a','b')`

`help(str)`, `dir(str)` или `help(str.append)` - вызвать методы классов, `shift+tab` внутри функции (`pd.read_excel(/shift+tab/)`), чтобы получить справку (можно несеольеко раз жать); `tab` работает так: `pd./tab/` - покажет методы библиотеки

**ТРИ ГЛАВНЫЕ КАТЕГОРИИ ТИПОВ, ДЛЯ КОТОРЫХ ЕСТЬ ОБЩИЕ МЕТОДЫ**

`ЧИСЛА` ЦЕЛЫЕ, С ПЛАВУЮЩЕЙ ТОЧКОЙ - УМНОЖЕНИЕ, СЛОЖЕНИЕ И Т.Д.

`ПОСЛЕДОВАТЕЛЬНОСТИ` СТРОКИ, СПИСКИ, КОРТЕЖИ - ИНДЕКСАЦИЯ, НАРЕЗАНИЕ, КОНКАТЕНАЦИЯ

`ОТОБРАЖЕНИЯ` СЛОВАРИ - ИНДЕКСАЦИЯ ПО КЛЮЧУ

## NUMBERS and different rules

In [ ]:
print(f"""{5 / 1.7}
{5 // 1.7} # целочисленное деление
{int(5/1.7)}
{round(5/1.7)}
{5 % 1.7}""")

2.9411764705882355
2.0 # целочисленное деление
2
3
1.6

In [ ]:
print(f"""{12121.22223:,.2f}
{12121.22223:,}
{12121.22223:.2e}""")

12,121.22
12,121.22223
1.21e+04

In [ ]:
# Первый прием, операция ==, предусматривает проверку, имеют ли два ссылаемых объекта одинаковые значения; 
# такой метод почти всегда используется для проверок на предмет равенства в Python. 
# Второй прием, операция is, проверяет идентичность — она возвращает True, только если оба имени указывают на точно тот же самый объ­ект, 
# поэтому операция is является гораздо более строгой формой проверки равенс­тва и редко применяется в большинстве программ.
l=[1,2,3]; m=[1,2,3]
print(f"""{l==m}
{l is m}""") # но для чисел оба будет тру - из-за кэширования

True
False

In [ ]:
s = 'a\nb\tcdf'; print(s)

a
b	cdf

## STRING (строки)
Cтроки Python относятся к категории неизменяемых последовательнос­тей, а это означает, что содержащиеся в них символы имеют позиционный порядок слева направо и не могут быть модифицированы на месте. Список, кортеж - тоде последовательности, поэтому операции над ними будет теми

In [ ]:
# Список - изменяемый объект:
L_1 =[1,2,3]; L_2 = L_1 # l2 ссылается на объект [1,2,3]
L_1[0]=100; L_2
# Поэтому для того, чтобы избежать модификации нужно скопировать список
# есть 3 метода: l2=l1[:] - не будет работать с словарями и множествами (так как не являются последовательностями), l2=l1.copy(), l2=list(l1)

[100, 2, 3]

In [ ]:
# Выражения:
# 1) Конкатенация s1+s2 
# 2) Нарезание (извлечение частей) s[1:3] 
# 3) Индексация s[1]
# Строковые методы:
s = 'a1a2a3'
print(f"""{s.find('a2a')}
{s.replace('a3','a4')}
{s.split('a')}
{s.endswith('a3')}
      """)
import re
re.match('a(.*)2', s)

2
a1a2a4
['', '1', '2', '3']
True

In [2]:
s = 'aao+aao'
l = list(s)
print(l)
''.join(l)

['a', 'a', 'o', '+', 'a', 'a', 'o']

'aao+aao'

# СПИСОК (LIST)
1) Они являются упорядоченными коллекциями произвольных объектов
2) Они поддерживают доступ по смещению
3) Они имеют переменную длину, разнородны и допускают произвольно глубокое вложение
4) Они относятся к категории “изменяемая последовательность”
5) Они представляют собой массивы ссылок на объекты
6) Они представляют собой массивы ссылок на объекты

Эффект L.append (X) аналогичен L+ [X], но тогда как первый вариант изменяет L на месте, второй создает новый список

In [23]:
l = [1,2,3,4,5]
l.append(6)
l.extend([7,8,9])
l.insert(len(l), 10)
l.index(10)
l.count(3)
#l.clear()
l.pop(1)
l.remove(1)
del l[1]
l

[3, 5, 6, 7, 8, 9, 10]

In [29]:
list(map(abs, l))

[3, 5, 6, 7, 8, 9, 10]

In [31]:
l[1:2]=[999]
l

[3, 999, 6, 7, 8, 9, 10]

In [33]:
l[:0] = [1448, 1313]
l

[1448, 1313, 3, 999, 6, 7, 8, 9, 10]

In [1]:
# Есть 3 метода создать копию списка:
# l[:], l.copy(), list(l)

# DataFrame

In [ ]:
# Now inverting a matrix costs O(N3)

In [ ]:
import pandas as pd
# import datetime
# x = datetime.datetime(2020, 5, 17)
df = pd.DataFrame([[1,'a',3,pd.Timestamp(year=2023,month=1,day=1)],
                   [4,'B',5,pd.Timestamp(year=2023,month=2,day=1)],
                   [6,'c',7,pd.Timestamp.now()]],
                  columns=['int1','str1','int2','date'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   int1    3 non-null      int64
 1   str1    3 non-null      object
 2   int2    3 non-null      int64
 3   date    3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 224.0+ bytes

In [ ]:
df['str1'].str.lower()

0    a
1    b
2    c
Name: str1, dtype: object

In [ ]:
df.rename(columns={'int1':'float1'})

   float1 str1  int2                       date
0       1    a     3 2023-01-01 00:00:00.000000
1       4    B     5 2023-02-01 00:00:00.000000
2       6    c     7 2023-03-16 07:38:13.945314

In [ ]:
df.describe()

           int1  int2
count  3.000000   3.0
mean   3.666667   5.0
std    2.516611   2.0
min    1.000000   3.0
25%    2.500000   4.0
50%    4.000000   5.0
75%    5.000000   6.0
max    6.000000   7.0

In [ ]:
mask1 = df.int1 == 1
mask2 = df.int2 == 3
df[mask1 & mask2]

   int1 str1  int2       date
0     1    a     3 2023-01-01

In [ ]:
df.date.dt.year

0    2023
1    2023
2    2023
Name: date, dtype: int64

In [ ]:
print(f'''{df.int1.unique()} 
{df.int1.nunique()}''')

[1 4 6]
3

In [ ]:
from datetime import datetime
datetime.today().strftime('%Y_%m_%d')

'2023_03_16'