# Работа с датами в таблицах

Даты являются третьим по популярности типом данных в таблицах после чисел и строк. Работа с ними чем-то похожа на работу с текстовыми столбцами: для них выделена отдельная категория функций.

In [1]:
import pandas as pd
orders = pd.read_excel('Superstore.xls')

## Операции с датами

С датами можно совершать операции вычитания. Например, найдем время, которое потребовалось для доставки товара с момента его оформления:

In [3]:
orders['Order Date'] - orders['Ship Date']

0      -3 days
1      -3 days
2      -4 days
3      -7 days
4      -7 days
         ...
9989   -2 days
9990   -5 days
9991   -5 days
9992   -5 days
9993   -5 days
Length: 9994, dtype: timedelta64[ns]

В результате этой операции мы получаем уже не дату, а интервал. Интервал времени можно прибавлять и отнимать у дат, получая тем самым другие даты. Попробуем найти дату окончания гарантии на товар (1 год с момента покупки):

Команда `pd.DateOffset(...)` создает интервал времени с заданными вами настройками:
* years – год
* months – месяц
* days – день
* hours – час
* minutes – минута
* seconds – секунда

In [15]:
pd.Timestamp.now()+pd.DateOffset(days=3)

Timestamp('2023-03-18 11:50:33.407602')

Командой `pd.Timestamp()` можно аналогично получать конкретные дату и время:

In [5]:
pd.Timestamp(year=2023, month=1, day=1)

Timestamp('2023-03-15 11:39:23.973877')

Для получения текущей даты можно использовать:

In [ ]:
pd.Timestamp.now()

## Получение части даты
Дата, как и интервал, состоят из лет, месяцев и т.д. Получить конкретную часть даты или времени можно следующим образом:

In [9]:
orders['Order Date']
orders.loc[:, 'Order Date'].dt.day

0        8
1        8
2       12
3       11
4       11
        ..
9989    21
9990    26
9991    26
9992    26
9993     4
Name: Order Date, Length: 9994, dtype: int64

## Сравнение дат
К датам применимы обычные операторы сравнения: `==`, `!=`, `<=`, `>=`, `<`, `>`

In [ ]:
in_one_day = orders.loc[:, 'Order Date'] ==orders.loc[:, 'Ship Date']
orders.loc['in_one_day'] =

## Задания

Попробуйте установить столбец с планируемой датой доставки (Estimated Delivery Date) 

* через 7 дня после даты заказа для стандартного класса
* через 5 дней – для 2 класса
* через 3 дня – для 1 класса
* В тот же день для заказов с доставкой в день покупки (Same Day)

*Hint: Для выполнения этого задания вам понадобятся одновременно фильтры и интервалы дат. Если при сохранении в столбец вы использовали один и тот же фильтр слева и справа от знака `=` – обновятся только те строки, которые подходят под этот фильтр, а остальные останутся неизменными.*

In [89]:
l = {'Standard Class':pd.DateOffset(days=7), 'Second Class':pd.DateOffset(days=5), 'First Class':pd.DateOffset(days=3),'Same Day':pd.DateOffset(days=0)}
orders['Estimated Delivery Date'] = orders['Order Date']
for i,j in l.items():
    orders.loc[:,'Estimated Delivery Date'][orders['Ship Mode'].str.contains(i)] =  orders.loc[:,'Estimated Delivery Date'][orders['Ship Mode'].str.contains(i)]+j

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [90]:
orders[['Order Date','Estimated Delivery Date','Ship Mode']]

     Order Date Estimated Delivery Date       Ship Mode
0    2017-11-08              2017-11-13    Second Class
1    2017-11-08              2017-11-13    Second Class
2    2017-06-12              2017-06-17    Second Class
3    2016-10-11              2016-10-18  Standard Class
4    2016-10-11              2016-10-18  Standard Class
...         ...                     ...             ...
9989 2015-01-21              2015-01-26    Second Class
9990 2018-02-26              2018-03-05  Standard Class
9991 2018-02-26              2018-03-05  Standard Class
9992 2018-02-26              2018-03-05  Standard Class
9993 2018-05-04              2018-05-09    Second Class

[9994 rows x 3 columns]

Сравните получившиеся даты с фактическими датами доставки (Ship Date). Сколько посылок не были доставлены вовремя?

Для того, чтобы узнать длину таблицы, поместите ее внутрь команды `len(...)`.

In [106]:
orders['at_time'] = orders['Estimated Delivery Date'] <= orders['Ship Date']
list(orders['at_time'].value_counts())[1]

2215